body{
    background: rgb(154, 203, 81);
}

h1{
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
    font-size: 2.5rem;
    color: brown;
    text-decoration: underline;
}


#main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
 }


img{
    cursor: pointer;
}


.counter    {
    display: block;
    font-weight: bold;
}

#coins-counter  {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

#cps    {
    text-align: end;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}


h2  {
    margin-bottom: 0;
    padding-bottom: 0.2rem;
    font-size: 2rem;
}

#wall-street    {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 2.2rem;
    font-weight: 400;
    background: greenyellow;
    border: 0.2rem solid brown;
    border-radius: 50%;
    cursor: pointer;
}

button:hover{
    background: rgb(8, 49, 8);
    transform: scale(1.05);
    transition: 0.2s;
}

#invest {
    margin: 0;
    padding-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}

#incr-cps   {
    margin: 0;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}


@media (orientation: landscape) {
    #the-piggy {
        object-fit: scale-down;
        max-height: 75vh;
        width: auto;
    }

    h1  {
        font-size: 1rem;
    }
}



@media (min-width: 700px)  {
    h1  {
        margin: 1rem;
        padding: 2rem;
    }

    #main-container  {
        display: flex;
        max-height: 100vh;
    }

    h1    {
        font-size: 5rem;
    }
}



@media (max-width: 600px) {
    h1  {
        text-align: right;
    }
}
